---
interface IoC {
  type: string;
  value: string;
  context: string;
}

interface Props {
  iocs: IoC[];
}

const { iocs } = Astro.props;
---
<div class="ioc-table-scroll"><table class="ioc-table">
  <thead>
    <tr>
      <th>Type</th>
      <th>Value</th>
      <th>Context</th>
    </tr>
  </thead>
  <tbody>
    {iocs.map((ioc) => (
      <tr>
        <td><span class="ioc-type-badge">{ioc.type}</span></td>
        <td class="ioc-value">{ioc.value}</td>
        <td class="ioc-context">{ioc.context}</td>
      </tr>
    ))}
  </tbody>
</table></div>
